.topbar {
  position: fixed;
  width: 100%;
  padding-bottom: 25px;
  background-color: rgb(12, 10, 34);
  z-index: 1;
}
/* rgb(21, 19, 55); Chart settings*/

.alert-btn {
  border: none;
  position: relative;
  left: 50%;
  background-color: rgb(161, 159, 189);
}
.alert-btn :hover {
  transition: 0.5s;
  background-color: rgb(48, 47, 65);
}

.sidebar {
  height: 100%;
  width: 75px;
  position: fixed;
  z-index: 1;
  left: 0;
  padding-top: 60px;
  background-color: rgb(10, 6, 62);
  top: 51px;
}

.sidebar li {
  position: relative;
  top: 200px;
  padding: 16px 8px 16px 23px;
  display: block;
}

.active-link {
  transition: 0.5s;
  border: 5px;
  border-color: rgb(255, 255, 255);
  background-color: gray;
}

.non-active-link:hover {
  color: white;
  transition: 0.5s;
}
